/***************************************** General global styling */

img:hover {
  cursor: pointer;
}

.scrollbar {
  overflow-y: scroll;
  scrollbar-color: #000 #aaa;
  scrollbar-width: thin;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa; 
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #000;
}

.scrollbar-vertical {
  overflow-y: scroll;
  overflow-x: scroll;
  scrollbar-color: #000 #aaa;
  scrollbar-width: thin;
}

.scrollbar-vertical::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #aaa; 
}

.scrollbar-vertical::-webkit-scrollbar-thumb {
  background: #000;
}

/***************************************** App component styling */

header, footer {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.wrapper {
  /* border: 5px solid purple; */
  padding: 5px;
}

footer {
  height: 2vh;
  gap: 20px;
}

/* Button attached to Vue router */
.router {
  margin: 10px;
  border: 1px solid gray;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  background-color: indianred;
  font-size: 1.2rem;
  color: #fff;
}

.router:hover {
  background-color: tomato;
  transition: all 0.3s ease;
  cursor: pointer;
}

.router:not(:hover) {
  transition: all 0.3s ease;
}

/***************************************** Home (calendar) page styling */

.home {
  display: flex;
}

.navbar__container {
  margin: 5px;
  border: 1px solid gray;
  padding: 5px;
  width: revert;
  height: 20vh; 
  display: inline-flex;
  flex-direction: row;
  gap: 25px;
}

.tools__container {
  margin: 5px;
  border: 1px solid gray;
  padding: 5px;
  width: 15%;
  max-height: calc(57vh - 1vh); /* same as above */
}

.calendar__container {
  margin: 5px;
  padding: 0;
  border: 1px solid gray;
  max-height: 56vh;
  width: 85%
}

/***************************************** Task page styling */

.tasks {
  display: flex;
}

.task__container {
  border: 1px solid gray;
  margin: 5px;
  padding: 5px;
  min-height: 77.6vh;
  width: 100%;
}

/***************************************** About page styling */

.about {
  display: flex;
}

.about__container {
  border: 1px solid gray;
  margin: 5px;
  padding: 5px;
  max-height: 56vh;
  width: 85%
}

/***************************************** BigCalendar styling */

.wrapper__big__calendar {
  margin: 0;
  padding: 0;
}

.weekday__box {
  display: inline-flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.filler__box {
  border: 1px solid lightgray;
  margin: 0;
  padding: 0;
  content: 0;
  width: 60px;
}

.weekday__label {
  border: 1px solid lightgray;
  margin: 0;
  padding: 25px 34px;
  content: 0;
  min-width: 150px;
  text-align: center;
  vertical-align: middle;
  font-variant-caps: small-caps;
}

.calendar__hour__row {
  display: inline-flex;
  padding: 0;
  margin: 0;
  content: 0;
  align-items: center;
  justify-content: center;
}

.hour__box {
  border: 1px solid lightgray;
  margin: 0;
  padding: 24.8px 0;
  content: 0;
  width: 60px;
  text-align: center;
}

.hour__row__day {
  border: 1px solid lightgray;
  margin: 0;
  padding: 34px;
  content: 0;
  min-width: 150px;
  text-align: center;
  vertical-align: middle;
}
